{% extends 'static_content.html' %}
{% block content %}
{% load static %}
<section id="modalities" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Especialidad de Construcciones</h1>
        </div>
      </div>
        <hr>
      <div class="d-flex row justify-content-center" data-aos="zoom-in" data-aos-delay="500">
        <div class="pb-3">
        </div>
        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold" style="color: brown;">Concepto</h3>
            <p class="text-justify">La construcción, busca preparar auxiliares en las técnicas de la construcción y
                el dibujo arquitectónico, para atender las necesidades en este campo. Para ello
                enfrenta a los estudiantes con situaciones reales, en el manejo de planos
                arquitectónicos, planeamiento de actividades de la construcción, procesos y
                operaciones relacionadas con el uso de materiales, herramientas, equipos,
                técnicas, topografía, acabados y seguridad industrial.
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/xJyeLu2lIUg" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Propósitos</h3>
          <p class="text-justify">Preparar al estudiante para que esté en condiciones de atender y
            desempeñarse en los procesos y técnicas relacionadas con: empleo de las
            destrezas y habilidades en los diversos instrumentos utilizados en el dibujo
            arquitectónico; elaborar e interpretar planos sencillos de arquitectura, elaborar
            maquetas de terrenos y edificios pequeños, clasificar y operar correctamente
            equipos, herramientas y materiales empleados en la industria de la
            construcción, programar las diferentes etapas de una obra y elaborar
            presupuestos para obras sencillas.
          </p>
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-centerpt-5 margin">
         <img src="{% static 'img/modalidades/construcciones/construcciones (5).jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold" style="color: brown;">Perfil Académico</h3>
            <p class="text-justify">La formación está orientada a la obtención del aprendizaje por parte del
              estudiante en las temáticas siguientes:
              <ul class="list-group">
                <li class="list-group-item list-group-item-action">Conceptos básicos de construcción.</li> 
                <li class="list-group-item list-group-item-action">Manejo de software acorde a construcciones.</li> 
                <li class="list-group-item list-group-item-action">Mampostería.</li> 
                <li class="list-group-item list-group-item-action">Estructuras.</li>
                <li class="list-group-item list-group-item-action">Instalaciones técnicas.</li> 
                <li class="list-group-item list-group-item-action">Instalaciones: Eléctricas, abastos.</li> 
                <li class="list-group-item list-group-item-action">Acabados.</li> 
                <li class="list-group-item list-group-item-action">Diseño de construcciones amigables con el medio ambiente.</li>
                <li class="list-group-item list-group-item-action">Interpretación de planos.</li>
                <li class="list-group-item list-group-item-action">Diseño asistido por computador “Autocad”.</li>

              </ul>
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/dXebR1Cy8xc" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Perfil Profesional</h3>
          <p class="text-justify">El bachiller Industrial, en la especialidad de construcciones:
            Podrá estudiar carreras afines con la especialidad, tales como:
            <ul class="list-group">
              <li class="list-group-item list-group-item-action">Arquitectura.</li> 
              <li class="list-group-item list-group-item-action">Construcción.</li> 
              <li class="list-group-item list-group-item-action">Tecnología en Construcción.</li> 
              <li class="list-group-item list-group-item-action">Delineante de Arquitectura y otras especialidades.</li>
              <li class="list-group-item list-group-item-action">Arte y Decoración.</li> 
              <li class="list-group-item list-group-item-action">Artes plásticas.</li> 
              <li class="list-group-item list-group-item-action">Acabados.</li> 
              <li class="list-group-item list-group-item-action">licenciatura en diferentes campos educativos.</li>
              <li class="list-group-item list-group-item-action">Continuar estudios en el SENA sobre técnico profesional en construcción o dibujo Arquitectónico.</li>

            </ul>
          </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
          <img src="{% static 'img/modalidades/construcciones/construcciones (3).jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5 pb-3">
          <button type="button" class="btn btn-light"><a href="https://forms.gle/qoLhGCLx2G9DfxVD7" target="_blank"><h3 style=" color:  #124265; font-size: 30px;" class="text-center">¡Anímate a inscribirte a la modalidad de Construcciones!</h3></a></button>
      </div>
    </div>
  </section><!-- End Modalities -->
  {% endblock %}