{% extends 'static_content.html' %}
{% block content %}
{% load static %}
<section id="modalities" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 text-center">
          <h1>Especialidad de Electricidad y Automatismos</h1>
        </div>
      </div>
        <hr>
      <div class="d-flex row justify-content-center" data-aos="zoom-in" data-aos-delay="500">
        <div class="pb-3">
        </div>
        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold" style="color: brown;">Concepto</h3>
            <p class="text-justify">La electricidad tiene como fundamento los conocimientos teóricos y prácticos
              necesarios para preparar al estudiante en forma real en los diferentes procesos
              eléctricos, con el apoyo de nuevas tecnologías y de la electrónica que existen
              en los medios residencial, comercial e industrial. Comprende el diseño y
              montaje de instalaciones eléctricas, residenciales y comerciales, análisis,
              diseño y montaje de sistemas y tableros de control para maquinaria de todo
              tipo.
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/hGYpBrh3Usc" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Propósitos</h3>
          <p class="text-justify">Formar al estudiante en los aspectos técnicos y tecnológicos con concepción
            científica y con sentido de principios y valores para que sea capaz de
            enfrentarse a situaciones reales de su vida, de acuerdo a los perfiles:
            académico, ocupacional y profesional con una visión humana. Se apoya para
            lo anterior, en la comprensión de los principios, leyes y conceptos
            fundamentales de la electricidad, así como de la aplicación de normas técnicas.
          </p>
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
         <img src="{% static 'img/modalidades/electricidad/electricidad.jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold" style="color: brown;">Perfil Académico</h3>
            <p class="text-justify">La formación orienta al estudiante hacia la obtención del aprendizaje
              institucional y en convenio con otras entidades en las estructuras siguientes:
              <ul class="list-group">
                <li class="list-group-item list-group-item-action">Dibujo eléctrico y electrónico.</li> 
                <li class="list-group-item list-group-item-action">Principios fundamentales de la electricidad.</li> 
                <li class="list-group-item list-group-item-action">Máquinas eléctricas y sistemas de control y automatismos.</li> 
                <li class="list-group-item list-group-item-action">Instalaciones residenciales, comerciales e industriales.</li>
                <li class="list-group-item list-group-item-action">Sistemas de medición.</li> 
                <li class="list-group-item list-group-item-action">Seguridad ocupacional.</li> 
                <li class="list-group-item list-group-item-action">Electrónica de apoyo.</li> 
                <li class="list-group-item list-group-item-action">Manejo de información y desarrollo de documentos y cálculos.</li>

              </ul>
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/SuYAilWIfWU" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Perfil Profesional</h3>
          <p class="text-justify">El bachiller industrial en la especialidad de Electricidad estudiará las carreras afines siguientes:
            <ul class="list-group">
              <li class="list-group-item list-group-item-action">Ingeniería eléctrica y electrónica.</li> 
              <li class="list-group-item list-group-item-action">Ingeniería de sistemas.</li> 
              <li class="list-group-item list-group-item-action">Ingeniería de Instrumentación y control.</li> 
              <li class="list-group-item list-group-item-action">Electro - medicina.</li>
              <li class="list-group-item list-group-item-action">Ingeniería electromecánica.</li> 
              <li class="list-group-item list-group-item-action">Arquitectura.</li> 
              <li class="list-group-item list-group-item-action">Robótica y Mecatrónica.</li> 
              <li class="list-group-item list-group-item-action">licenciatura en diferentes campos educativos.</li>
              <li class="list-group-item list-group-item-action">Continuar estudios en el SENA sobre técnico profesional en construcción o dibujo Arquitectónico.</li>

            </ul>
          </p>
          <p class="text-justify pt-2">
            Además, tecnologías en varias de las anteriores especialidades.
            Telecomunicaciones. Estudios a nivel de técnicos en el SENA y licenciaturas
            afines en sector educativo.
            Desarrollará conocimientos, habilidades y destrezas, manteniendo así una
            actitud de compromiso con su quehacer profesional.
            Tendrá capacidad emprendedora de asesoría, interventora y creatividad.
          </p>
        </div>

        <div class="col-xl-7 col-lg-9 d-flex justify-content-center pt-5 margin">
          <img src="{% static 'img/modalidades/electricidad/electricidad.gif' %}" class="img-fluid" alt="">
         </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Perfil Ocupacional</h3>
          <p class="text-justify">El bachiller industrial en la especialidad de Electricidad estará en capacidad de desempeñarse como:
            <ul class="list-group">
              <li class="list-group-item list-group-item-action">Auxiliar o técnico de mantenimiento eléctrico en las diferentes empresas, edificios y residencias.</li> 
              <li class="list-group-item list-group-item-action">Auxiliar en los proyectos y trabajos de ingeniería eléctrica.</li> 
              <li class="list-group-item list-group-item-action">Auxiliar en cableados y sistemas de control.</li> 
              <li class="list-group-item list-group-item-action">Constructor, ensamblador e instalador de artículos eléctricos en empresas o fábricas.</li>
              <li class="list-group-item list-group-item-action">En forma independiente, organizando su propio taller, empresa o almacén.</li> 
              <li class="list-group-item list-group-item-action">Supervisor, almacenista o gestor de ventas de todo tipo de artículos eléctricos y electrónicos.</li> 
      
            </ul>
          </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
          <img src="{% static 'img/modalidades/electricidad/electricidad (4).jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5 pb-3">
          <button type="button" class="btn btn-light"><a href="https://forms.gle/qoLhGCLx2G9DfxVD7" target="_blank"><h3 style=" color:  #124265; font-size: 30px;" class="text-center">¡Anímate a inscribirte a la modalidad de Electricidad!</h3></a></button>
      </div>
    </div>
  </section><!-- End Modalities -->
  {% endblock %}