{% extends 'static_content.html' %}
{% block content %}
{% load static %}
<section id="modalities" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 text-center">
          <h1>Automatismos Industriales</h1>
        </div>
      </div>
        <hr>
      <div class="d-flex row justify-content-center" data-aos="zoom-in" data-aos-delay="500">
        <div class="pb-3">
        </div>
        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold text-justify pb-2" style="color: brown;">EL DEPARTAMENTO DE INDUSTRIAL TE OFRECE RAZONES PARA QUE ESCOJAS Y ESTUDIES AUTOMATIZACIÓN INDUSTRIAL EN GRADO X A PARTIR DEL AÑO 2021</h3>
            <p class="text-justify">Vivimos en un mundo en constante cambio, y eso hace que estudiar
              Automatización Industrial sea importante. Esto se debe a que es necesario que los
              recursos estén bien utilizados y exista un costo menor de producción. También,
              que haya conciencia sobre sostenibilidad ambiental, empleos y por supuesto, que
              se vea su impacto en la sociedad.
              Para lograr esto es preciso estudiar la complejidad de las áreas manufactureras y
              de servicios. Es así como se llegará a encontrar soluciones para un desarrollo
              productivo, además de agilizar los procesos que aumenten la competitividad de las
              empresas nacionales e internacionales.
              
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/LAZM3DntS7s" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold text-center pb-2" style="color: brown;">¿Qué es la Automatización Industrial?</h3>
          <p class="text-justify">La automatización industrial controla, monitorea y automatiza procesos
            industriales, máquinas o dispositivos que funcionan repetitivamente.
            Tiene por objetivo reducir costos de producción y lograr el crecimiento de las
            empresas. También busca trabajar con la logística, ofrecer un buen servicio al
            cliente, y mantener actualizado y modernizado el sector servicio e industria.
            <strong>Entre las tecnologías utilizadas para poder lograr esta automatización se
              encuentran la robótica, la neumática industrial, la instrumentación, la
              programación, electricidad y la electrónica.</strong>
          </p>
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
         <img src="{% static 'img/modalidades/electricidad/electricidad.jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold text-center pb-2" style="color: brown;">¿En qué consiste la Media Técnica de Automatización Industrial?</h3>
            <p class="text-justify">La Media Técnica en Automatización Industrial busca que sus estudiantes sean
              capaces de hacer que los procesos de producción rindan al máximo, optimizando
              los recursos humanos y materiales. También los capacita para crear propuestas
              enfocadas al desarrollo económico y social. Estudiar Automatización Industrial te dará conocimiento científico en las áreas de
              matemáticas, física y química, también sobre tecnología y sistemas industriales. Al
              mismo tiempo. <strong>Estas asignaturas te llevarán a saber sobre administración
                industrial, cadena de suministro, formulación y evaluación de proyectos.</strong>
            </p>
            <p class="text-justify">También conocerás acerca de estudios empresariales, estudios del trabajo y
              administración de operaciones y sistemas productivos. <strong>Como puedes darte cuenta, el estudiante se enfrenta a una carrera
                multidisciplinaria, que abre muchas posibilidades. Esta misma versatilidad,
                exige al Técnico laboral estar preparado para adaptarse a los distintos
                sectores dentro de una empresa.</strong>
            </p>
            <p class="text-justify">Entonces, un egresado de la media técnica de Automatización Industrial se
              puede desempeñar en <strong>4 áreas:</strong>
              <ul class="list-group">
                <li class="list-group-item list-group-item-action">Industriales.</li> 
                <li class="list-group-item list-group-item-action">Servicios.</li> 
                <li class="list-group-item list-group-item-action">Comerciales.</li> 
                <li class="list-group-item list-group-item-action">Gestión.</li> 
              </ul> 
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/QZ1DaQgg3lE" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold text-center pb-2" style="color: brown;">¿Qué Asignaturas tiene la Media Técnica de Automatización Industrial?</h3>
          <p class="text-justify">Esta tiene en su plan de estudios materias como: laboratorio de robótica,
            fundamentos de programación, matemáticas, física, fundamentos de
            programación, instrumentación básica, electrónica industrial, dibujo técnico,
            química, laboratorio de Instrumentación, investigación, laboratorio de e Máquinas,
            laboratorio de electricidad, entre otras. 
          </p>
        </div>

       

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold text-center pb-2" style="color: brown;">¿Qué Funciones tiene un Técnico Laboral en Automatización Industrial?</h3>
          <p class="text-justify">Como egresado de grado XI podrás desempeñar diversas actividades. Estas
            serán en su mayoría <strong>dentro de las áreas de producción, calidad y logística.</strong>
            También estarás capacitado para desenvolverte en puestos administrativos y de
            recursos humanos.
          </p>

          <p class="text-justify">
            Además, la media técnica en Automatización Industrial articulada con el
            <strong>POLITÉCNICO JAIME ISAZA CADAVID</strong> te dará la oportunidad para ingresar
            a la <strong>TECNOLOGÍA EN INSTRUMENTACIÓN INDUSTRIAL en el segundo
            semestre y herramientas para poder laborar con profesionales de otras
            áreas</strong>. Tendrás oportunidad de desarrollar un espíritu emprendedor y de
            servicio hacia una sociedad que necesita crecimiento industrial y un
            desarrollo sustentable.
          </p>
        </div>

            <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
              <img src="{% static 'img/modalidades/electricidad/electricidad (5).jpg' %}" class="img-fluid" alt="">
            </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">  
          <p class="text-justify">
            De esta manera, entre algunas de las <strong>funciones u ocupaciones que tiene un Técnico en Automatización Industrial observamos</strong>:
            <ul class="list-group">
              <li class="list-group-item list-group-item-action text-justify">Modificar y diseñar sistemas automáticos de control para diferentes procesos.</li> 
              <li class="list-group-item list-group-item-action text-justify">Operar sistemas de control con diferentes grados de automatización.</li> 
              <li class="list-group-item list-group-item-action text-justify">Dar mantenimiento a sistemas de control automático aplicados en procesos específicos.</li> 
              <li class="list-group-item list-group-item-action text-justify">Dar mantenimiento a equipos y maquinaria de los sistemas automáticos de control y de regulación.</li>
              <li class="list-group-item list-group-item-action text-justify">Sintonizar sistemas de control automático con diferentes configuraciones.</li> 
              <li class="list-group-item list-group-item-action text-justify">Calibrar instrumentos de control automático.</li> 
              <li class="list-group-item list-group-item-action text-justify">Programar y operar mecanismos de producción robotizados.</li> 
              <li class="list-group-item list-group-item-action text-justify">Diseñar y operar sistemas inteligentes de control automático de procesos.</li> 
              <li class="list-group-item list-group-item-action text-justify">Analizar el funcionamiento de los sistemas automatizados buscando alternativas de optimización.</li> 
            </ul>
          </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
          <img src="{% static 'img/modalidades/electricidad/electricidad (4).jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5 pb-3">
          <button type="button" class="btn btn-light"><a href="https://forms.gle/qoLhGCLx2G9DfxVD7" target="_blank"><h3 style=" color:  #124265; font-size: 30px;" class="text-center">¡Anímate a inscribirte a la modalidad de Automatismos Industriales!</h3></a></button>
      </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <hr>
          <h3 class="font-weight-bold text-center pb-2" style="color: brown;">Páneles Solares próximamente en la I.E Inem José Félix de Restrépo.</h3>
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
          <img src="{% static 'img/modalidades/electricidad/electricidad (2).jpg' %}" class="img-fluid" alt="">
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/gN-RoFmzBeA" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
          <img src="{% static 'img/modalidades/electricidad/electricidad.png' %}" class="img-fluid" alt="">
        </div>
    </div>
  </section><!-- End Modalities -->
  {% endblock %}