{% extends 'static_content.html' %}
{% block content %}
{% load static %}
<section id="modalities" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Especialidad de Electrónica</h1>
        </div>
      </div>
        <hr>
      <div class="d-flex row justify-content-center" data-aos="zoom-in" data-aos-delay="500">
        <div class="pb-3">
        </div>
        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold" style="color: brown;">Concepto</h3>
            <p class="text-justify">La electrónica con base en conocimientos teóricos y prácticos busca enfrentar
              al estudiante de manera real y objetiva con los diferentes procesos
              electrónicos, utilizados en la industria. Para su estudio, se apoya en el manejo
              y aprendizaje de: Principios y leyes de Electrónica y componentes electrónicos,
              circuitos electrónicos, aparatos de medida y mediciones electrónicas, sonido
              video, microprocesadores y computadores.
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/2BlVUKW5hL0" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Propósitos</h3>
          <p class="text-justify">Preparar al estudiante para que esté en condiciones de atender y
            desempeñarse en los procesos y técnicas relacionadas con: trazado e
            interpretación de planos de equipos y circuitos electrónicos, comprensión de
            principios, leyes y conceptos fundamentales de la electrónica, adquisición de
            conocimientos y aplicación de técnicas básicas para el montaje y
            mantenimiento de equipos electrónicos en general, identificación de
            oportunidades en el campo del trabajo y de la investigación.
          </p>
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
         <img src="{% static 'img/modalidades/electronica/electronica (4).jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold" style="color: brown;">Perfil Académico</h3>
            <p class="text-justify">La formación está orientada a que el estudiante obtenga el aprendizaje en las
              siguientes estructuras:
              <ul class="list-group">
                <li class="list-group-item list-group-item-action">Sistemas de rectificación y fuentes de corriente directa.</li> 
                <li class="list-group-item list-group-item-action">Amplificadores lineales y operacionales.</li> 
                <li class="list-group-item list-group-item-action">Electrónica industrial y digital, comunicaciones, mecatrónica.</li> 
                <li class="list-group-item list-group-item-action">Microprocesadores.</li>
                <li class="list-group-item list-group-item-action">Dibujo electrónico.</li> 
                <li class="list-group-item list-group-item-action">Software acorde a la modalidad: LiveWire, Eagle, Wizzard.</li> 
                <li class="list-group-item list-group-item-action">Principios de robótica.</li> 
                <li class="list-group-item list-group-item-action">Principios y leyes de electrónica.</li>
                <li class="list-group-item list-group-item-action">Componentes y circuitos electrónicos.</li>
                <li class="list-group-item list-group-item-action">Aparatos de medida y mediciones electrónicas.</li>
                <li class="list-group-item list-group-item-action">Seguridad y salud ocupacional.</li>

              </ul>
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/urk-S53WoZ8" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Perfil Profesional</h3>
          <p class="text-justify">El bachiller industrial en la especialidad de Electrónica podrá estudiar carreras afines con la modalidad tales como:

            <ul class="list-group">
              <li class="list-group-item list-group-item-action">Ingeniería electrónica.</li> 
              <li class="list-group-item list-group-item-action">Comunicaciones.</li> 
              <li class="list-group-item list-group-item-action">Ingeniería de sistemas.</li> 
              <li class="list-group-item list-group-item-action">Tecnología electrónica.</li>
              <li class="list-group-item list-group-item-action">Programación de computadores.</li> 
              <li class="list-group-item list-group-item-action">Mantenimiento de computadores.</li> 
              <li class="list-group-item list-group-item-action">Instrumentación industrial.</li> 
              <li class="list-group-item list-group-item-action">Estudios técnicos en el SENA y licenciaturas afines a la modalidad en el sector educativo.</li>
              <li class="list-group-item list-group-item-action">Se desempeñará en el campo laboral prestando servicio en forma individual y a la comunidad.</li>

            </ul>
          </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
          <img src="{% static 'img/modalidades/electronica/electronica.png' %}" class="img-fluid" alt="">
         </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Perfil Ocupacional</h3>
          <p class="text-justify">El bachiller industrial en la especialidad de Electrónica estará en capacidad de desempeñarse como:

            <ul class="list-group">
              <li class="list-group-item list-group-item-action">Auxiliar de mantenimiento electrónico en las diferentes empresas, edificios y residencias.</li> 
              <li class="list-group-item list-group-item-action">En los proyectos y trabajos de Ingeniería electrónica.</li> 
              <li class="list-group-item list-group-item-action">Ensamblador de artículos electrónicos en empresas o fábricas.</li> 
              <li class="list-group-item list-group-item-action">Supervisor, almacenista, gestor de ventas en todo tipo de artículos electrónicos.</li>
              <li class="list-group-item list-group-item-action">En forma independiente organizando su propio taller, empresa o almacén.</li> 

            </ul>
          </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
          <img src="{% static 'img/modalidades/electronica/electronica (1).jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5 pb-3">
          <button type="button" class="btn btn-light"><a href="https://forms.gle/qoLhGCLx2G9DfxVD7" target="_blank"><h3 style=" color:  #124265;; font-size: 30px;" class="text-center">¡Anímate a inscribirte a la modalidad de Electrónica!</h3></a></button>
      </div>
    </div>
  </section><!-- End Modalities -->
  {% endblock %}