{% extends 'static_content.html' %}
{% block content %}
{% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Rama Industrial</h1>
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-center section-title">
        <div class="col-xl-7 col-lg-9 text-center">
          <h2>Especialidades de la rama Industrial</h2>
        </div>
      </div>
      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-8 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-building-line"></i></div>
            <h4 class="title"><a href="{% url 'Construcciones' %}">Construcciones</a></h4>
            <p class="description text-justify">La construcción busca preparar auxiliares en las técnicas de la construcción y el dibujo arquitectónico...</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-8 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-flashlight-line"></i></div>
            <h4 class="title"><a href="{% url 'Electricidad' %}">Electricidad</a></h4>
            <p class="description text-justify">La electricidad se encuentra fundamentada en los conocimientos teóricos y prácticos...</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-8 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-cpu-line"></i></div>
            <h4 class="title"><a href="{% url 'Electronica' %}">Electrónica</a></h4>
            <p class="description text-justify">La electrónica con base en conocimientos teóricos y prácticos busca enfrentar al estudiante...</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-8 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-tools-line"></i></div>
            <h4 class="title"><a href="{% url 'Metalisteria' %}">Metalistería</a></h4>
            <p class="description text-justify">La Metalistería es un componente fundamental de la metal-mecánica que se ocupa para su estudio...</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-4 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-shirt-line"></i></div>
            <h4 class="title"><a href="{% url 'Diseno_de_Productos' %}">Diseño de Productos</a></h4>
            <p class="description text-justify">El diseño es un proceso de formación y capacitación en el cual el estudiante tendrá la oportunidad de conocer...</p>
          </div>


      </div>
    </div>
  </section><!-- End Hero -->
  
  <section id="modalidades" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Galería de Imágenes</h2>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="150">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active"><i class="ri-gallery-line"></i></li>
            <li data-filter=".filter-construcciones">Construcciones</li>
            <li data-filter=".filter-electronica">Electrónica</li>
            <li data-filter=".filter-electricidad">Electricidad</li>
            <li data-filter=".filter-metalisteria">Metalistería</li>
            <li data-filter=".filter-diseño_productos">Diseño de Productos</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">

        <div class="col-lg-4 col-md-6 portfolio-item filter-construcciones">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/construcciones/construcciones (3).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Construcciones</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/construcciones/construcciones (3).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Construcciones"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Construcciones' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-construcciones">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/construcciones/construcciones (7).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Construcciones</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/construcciones/construcciones (7).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Construcciones"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Construcciones' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-md-14 portfolio-item filter-construcciones">
          <div class="portfolio-wrap">
            <iframe width="700" height="380" src="https://www.youtube.com/embed/xJyeLu2lIUg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="portfolio-info">
              <p>Especialidad de Construcciones</p>
              <div class="portfolio-links">
                <iframe width="700" height="380" src="https://www.youtube.com/embed/xJyeLu2lIUg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a href="{% url 'Construcciones' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-construcciones">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/construcciones/construcciones (1).png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Construcciones</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/construcciones/construcciones (1).png' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Construcciones"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Construcciones' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-construcciones">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/construcciones/construcciones (2).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Construcciones</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/construcciones/construcciones (2).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Construcciones"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Construcciones' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-electronica">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/electronica/electronica (5).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Electrónica</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/electronica/electronica (5).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Electrónica"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Electronica' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-electronica">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/electronica/electronica (6).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Electrónica</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/electronica/electronica (6).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Electrónica"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Electronica' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-electronica">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/electronica/electronica (2).png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Electrónica</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/electronica/electronica (2).png' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Electrónica"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Electronica' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-md-14 portfolio-item filter-electronica">
          <div class="portfolio-wrap">
            <iframe width="700" height="380" src="https://www.youtube.com/embed/TPjRNTxubok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="portfolio-info">
              <p>Especialidad de Electrónica</p>
              <div class="portfolio-links">
                <iframe width="700" height="380" src="https://www.youtube.com/embed/TPjRNTxubok" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a href="{% url 'Electronica' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-electronica">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/electronica/electronica (7).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Electrónica</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/electronica/electronica (7).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Electrónica"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Electronica' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-electricidad">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/electricidad/electricidad (1).png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Electricidad</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/electricidad/electricidad (1).png' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Electrónica"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Electricidad' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-electricidad">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/electricidad/electricidad (2).png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Electricidad</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/electricidad/electricidad (2).png' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Electricidad"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Electricidad' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-electricidad">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/electricidad/electricidad (3).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Electricidad</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/electricidad/electricidad (3).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Electricidad"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Electricidad' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-md-14 portfolio-item filter-electricidad">
          <div class="portfolio-wrap">
            <iframe width="700" height="380" src="https://www.youtube.com/embed/s6OjgzC8IBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="portfolio-info">
              <p>Especialidad de Electricidad</p>
              <div class="portfolio-links">
                <iframe width="700" height="380" src="https://www.youtube.com/embed/s6OjgzC8IBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a href="{% url 'Electricidad' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-electricidad">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/electricidad/electricidad (3).png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Electricidad</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/electricidad/electricidad (3).png' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Electricidad"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Electricidad' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-metalisteria">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/metalisteria/metalisteria (4).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Metalistería</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/metalisteria/metalisteria (4).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Metalistería"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Metalisteria' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-metalisteria">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/metalisteria/metalisteria (6).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Metalistería</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/metalisteria/metalisteria (6).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Metalistería"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Metalisteria' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-metalisteria">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/metalisteria/metalisteria (5).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Metalistería</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/metalisteria/metalisteria (5).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Metalistería"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Metalisteria' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-metalisteria">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/metalisteria/metalisteria.jpeg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Metalistería</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/metalisteria/metalisteria.jpeg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Metalistería"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Metalisteria' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-md-14 portfolio-item filter-metalisteria">
          <div class="portfolio-wrap">
            <iframe width="700" height="380" src="https://www.youtube.com/embed/lfKLAGNC0o0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="portfolio-info">
              <p>Especialidad de Metalistería</p>
              <div class="portfolio-links">
                <iframe width="700" height="380" src="https://www.youtube.com/embed/lfKLAGNC0o0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a href="{% url 'Metalisteria' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-diseño_productos">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/diseno_de_Productos/diseno_productos (1).png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Diseño de Productos</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/diseno_de_Productos/diseno_productos (1).png' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Diseño de Productos"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Diseno_de_Productos' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-diseño_productos">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/diseno_de_Productos/diseno_productos (5).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Diseño de Productos</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/diseno_de_Productos/diseno_productos (5).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Diseño de Productos"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Diseno_de_Productos' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-md-14 portfolio-item filter-diseño_productos">
          <div class="portfolio-wrap">
            <iframe width="700" height="380" src="https://www.youtube.com/embed/CKu81-0uFZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="portfolio-info">
              <p>Especialidad de Diseño de Productos</p>
              <div class="portfolio-links">
                <iframe width="700" height="380" src="https://www.youtube.com/embed/CKu81-0uFZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a href="{% url 'Diseno_de_Productos' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-diseño_productos">
          <div class="portfolio-wrap">
            <img src="{% static 'img/modalidades/diseno_de_Productos/diseno_productos (2).jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>Especialidad de Diseño de Productos</p>
              <div class="portfolio-links">
                <a href="{% static 'img/modalidades/diseno_de_Productos/diseno_productos (2).jpg' %}" data-gall="portfolioGallery" class="venobox" title="Especialidad de Diseño de Productos"><i class="bx bx-plus"></i></a>
                <a href="{% url 'Diseno_de_Productos' %}" title="Anímate a leer el contenido!"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contacto" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.432562978549!2d-75.57994438467436!3d6.206534128487404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46827f7a881345%3A0xdf94c4d13c76ebb!2sInstituci%C3%B3n%20Educativa%20Inem%20Jos%C3%A9%20F%C3%A9lix%20de%20Restrepo!5e0!3m2!1ses-419!2sco!4v1599079925223!5m2!1ses-419!2sco" frameborder="1" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">

              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Ubicación:</h4>
                <p>Cra. 48 #1-125, Medellín, Antioquia</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>inemjose@inemjose.edu.co</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Llámanos:</h4>
                <p>2664600 Fax ext. 142</p>
              </div>

              <div class="phone">
                <i class="icofont-web"></i>
                <h4>Página Web:</h4>
                <p><a href="https://www.inemjose.edu.co/" target="_blank">www.inemjose.edu.co</a></p>
              </div>

            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

        <!-- ======= About Section ======= -->
    <section id="acerca_de" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Acerca de</h2>
        </div>

        <div class="row content justify-content-center">
          <div class="col-lg-6">
            <ul>
              <li><i class="ri-check-double-line"></i> La realización de ésta página web tomó cerca de 80 horas.</li>
              <li><i class="ri-check-double-line"></i> La realización de ésta página web fue expuesta como parte del proceso de alfabetización del estudiante Juan Pablo Mejía Gómez.</li>
              <li><i class="ri-check-double-line"></i> Ésta página web fue programada y construida usando la libreria Bootstrap 4 en conjunto con Python, JavaScript, HTML5 Y CSS3.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
              <li><i class="ri-check-double-line"></i> Ésta página web contiene información de todas las especialidades contenidas en la rama industrial.</li>
              <li><i class="ri-check-double-line"></i> Ésta página web fue creada con fines pedagójicos e institucionales.</li>
              <li><i class="ri-check-double-line"></i> Ésta página web fue programada por Juan Pablo Mejía Gómez.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  <!-- ======= About Video Section ======= -->
  <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

      <div class="row d-flex">

          <div class="col-lg-6 col-md-8 video-box align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'img/inem.jpg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=XAtmV79aPF0" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <h3>Rama Industrial</h3>
          <p class="font-weight-normal text-justify">
            Es una de las Ramas de la institución Educativa Inem José Félix de Restrepo.
            Ofrece educación diversificada de carácter técnico, formando estudiantes
            competentes para desempeñarse laboralmente en la industria, montar su
            propio negocio y continuar estudios superiores en una carrera afín a su
            modalidad e incluso, en una diferente.
          </p>
          <ul class="font-weight-bold text-justify align-items-center">
              <li style="color:#124265"><i class="bx bx-check-double"></i> Exploración vocacional o rotación:
                Grados: 6° y 7° En esta etapa se le realiza un seguimiento al estudiante,
                analizando afinidades y aptitudes, para ingresar a la rama de Industrial.</li>
              <li style="color:#124265"><i class="bx bx-check-double"></i> Orientación vocacional:
                Grados: 8° y 9° En esta el estudiante de Industrial hace una rotación,
                conociendo lo genérico de cada especialidad.</li>
              <li style="color:#124265"><i class="bx bx-check-double"></i> Educación media técnica:
                Grados: 10° y 11° Es aquí donde el estudiante estudia la especialidad
                elegida.</li>
          </ul>
      </div>

      </div>

      </div>
  </section><!-- End About Video Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Respuestas a Preguntas Frecuentes</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">¿Como puedo inscribirme a una Especialidad de la Rama Industrial?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <a href="https://forms.gle/qoLhGCLx2G9DfxVD7" target="_blank"><p class="text-justify">
                  Puedes inscribirte en los enlaces presentes en los apartados de modalidad, además, también puedes inscribirte haciendo click en este párrafo.
                </p></a>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">¿Cuántas horas semanales se verán asignaturas en relación a la modalidad escogida?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p class="text-justify">
                  El tiempo de estudio de especialidad varía según la propia especialidad escogida, no obstante, el tiempo habitual de estudio semanal es de ocho(8) horas.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">¿Se puede cambiar de especialidad una vez fue escogida? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p class="text-justify">
                  La respuesta es sí, pero, los trasmites de cambio de modalidad deben realizarse antes de que concluya el primer periodo académico.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">¿Quien creó ésta Página Web?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p class="text-justify">
                  Ésta página web fue creada por Juan Pablo Mejía Gómez, un estudiante de décimo grado como parte de su proceso de alfabetización.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

 {% endblock %}