{% extends 'static_content.html' %}
{% block content %}
{% load static %}
<section id="modalities" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Especialidad de Construcciones</h1>
        </div>
      </div>
        <hr>
      <div class="d-flex row justify-content-center" data-aos="zoom-in" data-aos-delay="500">
        <div class="pb-3">
        </div>
        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold" style="color: brown;">Concepto</h3>
            <p class="text-justify">La Metalistería es un componente fundamental de la metalmecánica que se
              ocupa para su estudio y trabajo básicamente del manejo de los metales, a
              partir de su extracción, obtención y transformación para convertirlos en
              utensilios funcionales. Tiene que ver con el trabajo de chapistería o procesos
              de trabajo en lámina, forja, ornamentación y soldadura, tratamientos térmicos,
              pinturas, estructuras metálicas y galvanoplastia.
            </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/sZ0vEW7WR-0" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Propósitos</h3>
          <p class="text-justify">Preparar al estudiante para que se adapte a los modernos métodos y técnicas
            de trabajo, para que esté en condiciones de atender los procesos relacionados
            con el diseño, construcción y fabricación de proyectos metalúrgicos de
            permanente demanda en el comercio y en la industria.
          </p>
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
         <img src="{% static 'img/modalidades/metalisteria/metalisteria.jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
            <h3 class="font-weight-bold" style="color: brown;">Perfil Académico</h3>
            <p class="text-justify">La formación está orientada hacia la adquisición del aprendizaje de la siguiente
              temática:
              
              <ul class="list-group">
                <li class="list-group-item list-group-item-action">Dibujo de metalistería.</li> 
                <li class="list-group-item list-group-item-action">Forja y ornamentación.</li> 
                <li class="list-group-item list-group-item-action">Chapistería (trabajo en lámina).</li> 
                <li class="list-group-item list-group-item-action">Soldadura eléctrica, autógena y especiales (TIG, MIG, SMAW).</li>
                <li class="list-group-item list-group-item-action">Tratamientos térmicos (procesos de trabajo de materiales en caliente).</li> 
                <li class="list-group-item list-group-item-action">Resistencia de materiales.</li> 
                <li class="list-group-item list-group-item-action">Estructuras metálicas.</li> 
                <li class="list-group-item list-group-item-action">Galvanoplastia y pinturas.</li>
                <li class="list-group-item list-group-item-action">Manejo de equipo de máquinas y herramientas.</li>
                <li class="list-group-item list-group-item-action">Diseño asistido por computador “Autocad”.</li>
                <li class="list-group-item list-group-item-action">Seguridad y salud ocupacional.</li>
              </ul>
            </p>
        </div>
        
        <div class="col-xl-7 col-lg-9 align-items-center pt-5">
          <iframe width="640" height="315" src="https://www.youtube.com/embed/5iUCC7ZqHhw" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Perfil Profesional</h3>
          <p class="text-justify">El bachiller industrial en la especialidad de Metalistería:
            Podrá estudiar carreras afines con la modalidad, tales como:

            <ul class="list-group pb-3">
              <li class="list-group-item list-group-item-action">Ingeniería Metalúrgica.</li> 
              <li class="list-group-item list-group-item-action">Ingeniería de Materiales.</li> 
              <li class="list-group-item list-group-item-action">Ingeniería Mecánica.</li> 
              <li class="list-group-item list-group-item-action">Ingeniería Industrial.</li>
              <li class="list-group-item list-group-item-action">Ingeniería de Producción.</li> 
              <li class="list-group-item list-group-item-action">Artes plásticas.</li> 
              <li class="list-group-item list-group-item-action">Acabados.</li> 
              <li class="list-group-item list-group-item-action">licenciatura en diferentes campos educativos.</li>
              <li class="list-group-item list-group-item-action">Continuar estudios en el SENA sobre técnico profesional en construcción o dibujo Arquitectónico.</li>
            </ul>
          </p>
          <p class="text-justify">
            Además, tecnologías en varias
            de las anteriores carreras; estudios técnicos en el SENA y licenciaturas en
            distintos ámbitos educativos.
            Tendrá acceso al conocimiento técnico, tecnológico y científico para el
            desarrollo y solución de los problemas relacionados con la modalidad.
            Se desempeñará en el campo laboral, disponiéndose tanto al servicio de las
            personas como de las comunidades.
            Desarrollará conocimientos, habilidades y destrezas para mantener una actitud
            de compromiso con el quehacer profesional de la modalidad de Metalistería.
          </p>
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5">
          <h3 class="font-weight-bold" style="color: brown;">Perfil Ocupacional</h3>
          <p class="text-justify">El bachiller industrial en la especialidad de Metalistería estará en capacidad de
            desempeñarse como:
            <ul class="list-group pb-3">
              <li class="list-group-item list-group-item-action">Técnico soldador.</li> 
              <li class="list-group-item list-group-item-action">Operario de taller de chapistería.</li> 
              <li class="list-group-item list-group-item-action">Auxiliar de Ingeniería metalúrgica.</li> 
              <li class="list-group-item list-group-item-action">Técnico en construcción de muebles metálicos.</li>
              <li class="list-group-item list-group-item-action">Supervisor de mantenimiento.</li> 
              <li class="list-group-item list-group-item-action">Asistente de ingeniería.</li> 
              <li class="list-group-item list-group-item-action">Instructor de metalistería.</li> 
            </ul>
          </p>
        </div>

        <div class="col-xl-7 col-lg-9 align-items-center pt-5 margin">
          <img src="{% static 'img/modalidades/metalisteria/metalisteria (2).jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-xl-7 col-lg-9 text-start pt-5 pb-3">
          <button type="button" class="btn btn-light"><a href="https://forms.gle/qoLhGCLx2G9DfxVD7" target="_blank"><h3 style=" color:  #124265;; font-size: 30px;" class="text-center">¡Anímate a inscribirte a la modalidad de Metalistería!</h3></a></button>
      </div>
    </div>
  </section><!-- End Modalities -->
  {% endblock %}